{% extends "layout.html" %}

{% block title %}
    Manage workouts
{% endblock %}

{% block main %}
<div class="center_div border_manage div-min-width">
    <form action="{% url 'manage-workouts' %}" method="post" class="manage center_div">
        {% csrf_token %}
        <h3>Create Workout</h3>
        <input autocomplete="off" autofocus name="wk_name" placeholder="Name" type="text">
        <br>
        <input type="submit" value="Create">
        <br>
        <a href="{% url 'customise-workouts' %}" class="btn btn-danger btn-sm button_link">Customise Workouts</a>
    </form>

    <!-- allow users to select and delete a workout -->
    <form action="{% url 'manage-workouts' %}" method="post" class="manage center_div" onsubmit="return conDelete()">
        {% csrf_token %}
        <h3>Delete Workout</h3>
        <select name="wk_delete">
            <option style="display:none;" value="0">Select Workout</option>
            {% for i in user_workouts %}
            <option value="{{i.wk_name}}">{{i.wk_name}}</option>
            {% endfor %}
            <br>
        </select>
        <input type="submit" value="Delete"/>
    </form>
</div>
{% endblock %}