{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div class="center_div">
    <form action="{% url 'register' %}" method="post" class="log_reg center_div">
        {% csrf_token %}
        <label for="name">Desired username</label>
        <input autocomplete="off" autofocus name="username" id="name" placeholder="Name" type="text">
        <label for="password">Enter password</label>
        <input autocomplete="off" name="password" id="password" placeholder="Password" type="password">
        <label for="confirmation">Confirm password</label>
        <input autocomplete="off" name="confirmation" id="confirmation" placeholder="Password confirm" type="password">
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}